.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 0 4rem;
    line-height: 1.2;

}

.hero-content {
    max-width: 700px;

}

.hero-content h1 {
    font-size: 2.5rem;
    max-width: 200px;
    color: var(--textPurple);

}

.hero-content p {
    font-size: 1rem;
    max-width: 380px;
    color: var(--textGray);
    margin: 20px 0;
}

.cta-button {
background: -webkit-linear-gradient(90deg, #011d57, #0042a9, #0061fe, #74a7ff);
    background: linear-gradient(90deg, #6333d1, #0042a9, #0061fe, #74a7ff);
    color: var(--backgroundColor);
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.hero-image img {
    max-width: 900px;
    width: 100%;
    height: 100%;

}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;

}