header {
    background: var(--backgroundColor);
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.navbar-item {
    text-decoration: none;
    color: var(--textGray);
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: var(--textPurple);
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--textPurple);
    transition: 0.3s ease;
}

.login-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.signup-button {
    background: var(--backgroundColor);
    color: var(--textBlue);
    border: solid 1px var(--borderButton);
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.signup-button:hover {
    background-color: var(--textPurple);
    color: var(--backgroundColor);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--textPurple);
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-items {
        background: var(--backgroundColor);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px;
        transform: translateY(-110%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar-items.open {
        transform: translateY(0);
    }

    .auth-buttons {
        display: none;
    }
}