.footer {
    background-image: url(../../assets//img//fundo-footer.png) ;
     color: white;
    padding: 50px 20px;
    text-align: center;
}
.footer-title {
    color: var(--backgroundColor);
  }
.footer-location {
filter: brightness(0) invert(1);
}
.footer-description {
    color: var(--backgroundColor);
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    max-width: 300px;
    line-height: 2;
}

.footer-section h3 {
    color : var(--backgroundColor);
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    font-size: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.footer-section ul li:hover {
    color: var(--yellow);
 
}

.footer-bottom {
    font-size: 14px;
    opacity: 0.8;
    padding: 1rem 0;
}
.line {
    width: 80%;
    height: 1px;
    background-color: var(--backgroundColor);
    margin: 1rem auto;
 
}
.icons {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icons img:hover {
    transform: scale(1.1);
}

.footer-copyright {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}