.footer {
    background-image: url('../../assets/img/fundo-footer.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icons img:hover {
    transform: scale(1.1);
}