.download-app {
    background: url('../../assets/img/app.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 900px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    color: var(--textGray);
}

.download-content {
    word-wrap: break-word;
    text-align: start;
    z-index: 2;
}

.download-content h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--textPurple);
    max-width: 60%;
    word-wrap: break-word;
}

.download-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.download-buttons a img {
    width: 160px;
    transition: transform 0.2s ease-in-out;
}

.download-buttons a img:hover {
    transform: scale(1.1);
}
.register {
    width: 100%;
    padding: 60px 20px;
    text-align: center;
}

.register-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
     flex-wrap: wrap;
}

.register-content h3 {
    font-size: 1.2rem;
    color: var(--textPurple);
    display: flex;
    align-items: center;
    text-align: start;
    gap: 4rem;
    white-space: nowrap;
 
}
.arrow {
    max-height: 4rem;
}

.register-lines {
 display: flex;
 justify-content: space-between;
  margin-top: 20px;
}
.register-lines img {
    margin: auto;
    max-width:150px;    
    
 }