.download-app {
    background: url('../../assets/img/app.png') no-repeat ;
    background-size: cover;
    width: 100%;
    min-height: 950px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 20px;
    position: relative;
}

.download-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    gap: 20px;
    z-index: 2;
}



.download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.download-buttons a img {
    width: 180px;
    transition: transform 0.2s ease-in-out;
}

.download-buttons a img:hover {
    transform: scale(1.1);
}


.register {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
    /* Ajuste fino para alinhar melhor */
    padding-bottom: 50px;
}

.register span {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.register h3 {
    font-size: 20px;
    /* Aumentei o tamanho do texto */
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Ajuste nas setas e linhas */
.register img {
    width: 60px;
    /* Aumentei para melhor proporção */
}